h1 { 
	font-style: italic;
	font-size: 85px;
	font-family: "Papyrus", fantasy;
	font-weight: bold;
}

#brand {
	font-family: "Papyrus", fantasy;
}

h3 {
	font-family: "Amatic", sans-serif;
}


#Simone{
	text-align: center;
}

#Veil{
	text-align: right;
	padding-right: 95px;
}


.pagination{
	margin-left: 50%;
    margin-right: 50%;
}


.container-fluid {
	text-align: justify;
	padding: 0;
}

#intro-title{
	color: dodgerblue;
	padding-right: 80px;
	padding-left: 60px;
}

#Discover {
	padding-left: 5%;
}

#project-content {
	margin-left: 7%;
}

