.pagination {
	margin-left: 50%;
    margin-right: 50%;
}

.navbar {
	position: fixed;
	width: 100%;
}


.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

